* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.post {
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    max-width: 600px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post_btns {
    display: flex;
}

.post span {
    display: inline-block;
    margin-right: 10px;
    color: darkblue;
    font-weight: bold;
}

.post-enter {
    transform: translateX(-300px);
}
.post-enter-active {
    transform: translateX(0);
    transition: all 200ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(300%);
    transition: all 500ms ease-out;
}


.form {
    padding: 30px;
    max-width: 300px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.form > * {
    margin-bottom: 20px;
}

.App {
    padding: 20px;
}



