* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.post {
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    max-width: 500px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form {
    padding: 30px;
    max-width: 300px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.form > * {
    margin-bottom: 20px;
}

.App {
    padding: 20px;
}
