.btn {
    padding: 6px 12px;
    color: white;
    background-color: #d78c00;
    border: 1px solid transparent;
    transition: all .3s;
    cursor: pointer;
    margin: 5px;
}

.btn:hover {
    background-color: #ffa600;
    border-color: white;
}

.btn:disabled {
    background-color: gray;
    cursor: not-allowed;
}
